<body>

  <app-headerrestaurante></app-headerrestaurante>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="main-container">

    <h1>
      <b>ACTUALIZA TU CARTA</b>
    </h1>
    <a class="descartes" href="/cartaRDescarte">Lista de descartes</a>
    <div class="carta">
      <div class="anyadir"><span>Si quieres añadir un nuevo producto pulsa:</span>
        <button class="anyadeproducto" (click)="mostrarForm()"></button>
        <span>Después de añadirlo indica el formato y precio.</span>
      </div>
      <div class="form" id="fporducto"><form (ngSubmit)="crearProducto()">
        <h2>CREAR PRODUCTO</h2>
        <div>
          <span>Ponle un nombre a su plato aquí:</span>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" [(ngModel)]="producto.nombre" required>
        </div>
        <div>
          <span>Selecciona una categoría aquí:</span>
          <select id="tipoCategoria" name="tipoCategoria" [(ngModel)]="producto.tipoCategoria" required>
            <option value="ENTRANTE">ENTRANTE</option>
            <option value="GUISO">GUISO</option>
            <option value="FRITO">FRITO</option>
            <option value="REVUELTO">REVUELTO</option>
            <option value="CARNE">CARNE</option>
            <option value="PESCADO">PESCADO</option>
            <option value="POSTRE">POSTRE</option>
            <option value="VINO">VINO</option>
            <option value="REFRESCO">REFRESCO</option>
            <option value="AGUA">AGUA</option>
            <option value="CERVEZA">CERVEZA</option>
            <option value="BEBIDA_ALCOHOLICA">BEBIDA_ALCOHOLICA</option>
            <option value="COCTEL">COCTEL</option>
            <option value="OTROS">OTROS</option>
          </select>
        </div>
        <div>
          <button type="submit">Crear</button> <button type="reset" (click)="ocultarForm()">Cancelar</button>
        </div>
      </form></div>
      <h1 *ngIf="entrante"><I><U>ENTRANTES</U></I></h1>
      <section *ngFor="let p of productos">
      <div class="producto" *ngIf="p.producto.tipoCategoria === 'ENTRANTE'">
        <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
        <div class="formatos">
          <div class="formato">
            <span>Tapa</span>
            <div class="precioactual" *ngFor="let pr of p.formatos">
              <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
            </div>
            <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
            <mat-icon>edit</mat-icon>
          </button>
            <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
            <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
            <input type="submit" value="ok!" (click)="ocultarPrecio()">
            </form>
          </div>
          <div class="formato">
            <span>Media</span>
            <div class="precioactual" *ngFor="let pr of p.formatos">
              <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
            </div>
            <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
            <mat-icon>edit</mat-icon>
          </button>
            <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
              <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
              <input type="submit" value="ok!" (click)="ocultarPrecio()">
            </form>
          </div>
          <div class="formato">
            <span>Ración</span>
            <div class="precioactual" *ngFor="let pr of p.formatos">
              <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
            </div>
            <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
            <mat-icon>edit</mat-icon>
          </button>
            <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
              <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
              <input type="submit" value="ok!" (click)="ocultarPrecio()">
            </form>
          </div>
        </div>
      </div>
      </section>
      <h1 *ngIf="carne"><I><U>CARNES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'CARNE'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="pescado"><I><U>PESCADOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'PESCADO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="guiso"><I><U>GUISOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'GUISO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="revuelto"><I><U>REVUELTOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'REVUELTO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="frito"><I><U>FRITOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'FRITO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="otros"><I><U>OTROS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'OTROS'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Tapa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 1">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'1')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}1" (ngSubmit)="crearProductoFormato(p.producto.id,1)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Media</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 2">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'2')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}2" (ngSubmit)="crearProductoFormato(p.producto.id,2)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Ración</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="postre"><I><U>POSTRES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'POSTRE'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">

            <div class="formato">
              <span>Precio</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 3">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'3')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}3" (ngSubmit)="crearProductoFormato(p.producto.id,3)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="vino"><I><U>VINOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'VINO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">

            <div class="formato">
              <span>Copa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 5">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'5')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}5" (ngSubmit)="crearProductoFormato(p.producto.id,5)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="cerveza"><I><U>CERVEZAS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'CERVEZA'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Vaso</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 7">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'7')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}7" (ngSubmit)="crearProductoFormato(p.producto.id,7)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Pinta</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 8">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'8')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}8" (ngSubmit)="crearProductoFormato(p.producto.id,8)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Jarra</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 6">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'6')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}6" (ngSubmit)="crearProductoFormato(p.producto.id,6)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="refresco"><I><U>REFRESCOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'REFRESCO'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Vaso</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 7">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'7')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}7" (ngSubmit)="crearProductoFormato(p.producto.id,7)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="agua"><I><U>AGUA</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'AGUA'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Precio</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 7">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'7')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}7" (ngSubmit)="crearProductoFormato(p.producto.id,7)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="coctel"><I><U>COCTELES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'COCTEL'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Copa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 5">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'5')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}5" (ngSubmit)="crearProductoFormato(p.producto.id,5)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="bebidaAlcoholica"><I><U>BEBIDAS ALCOHÓLICAS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'BEBIDA_ALCOHOLICA'">
          <div class="datosproducto"><span>{{p.producto.nombre}}</span><button (click)="darBajaProducto(p.producto.id)">Descartar</button></div>
          <div class="formatos">
            <div class="formato">
              <span>Chupito</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 4">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'4')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}4" (ngSubmit)="crearProductoFormato(p.producto.id,4)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
            <div class="formato">
              <span>Copa</span>
              <div class="precioactual" *ngFor="let pr of p.formatos">
                <div *ngIf="pr.formatoDTO.id === 5">{{ pr.precio }} €</div>
              </div>
              <button mat-icon-button color="primary" (click)="mostrarPrecio(p.producto.id+'5')">
                <mat-icon>edit</mat-icon>
              </button>
              <form id="{{p.producto.id}}5" (ngSubmit)="crearProductoFormato(p.producto.id,5)">
                <input type="number" name="precio" placeholder="" [(ngModel)]="productoFormato.precio" required>
                <input type="submit" value="ok!" (click)="ocultarPrecio()">
              </form>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>

  <app-footerrestaurante></app-footerrestaurante>
</body>

