
.main-container {
  display: flex;
  flex-direction: column;
  padding: 5% 15%;
  height: 100vh; /* Altura igual al 100% de la ventana del navegador */
  width: 100%;
  overflow-y: auto;
}

.carta {
  width: 100%;
  height: auto;
  //background-image: url("https://i.pinimg.com/474x/b4/7c/93/b47c93522bfa3074b0d5616f3405200d.jpg");
  //background-size: contain;
  //background-color: #ddce79;
  -webkit-box-shadow: 0px 0px 55px -26px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 55px -26px rgba(0,0,0,1);
  box-shadow: 0px 0px 55px -26px rgba(0,0,0,1);
   /* Añade una barra de desplazamiento vertical si el contenido es más grande */
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
h1{text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
margin-top: 30px}

.carta>div{



  background-color: white;


  margin-bottom: 15px;
  width: 100%;
}
.carta>section>div{

  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;

  padding-bottom: 2px ;

}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}
.anyadeproducto{
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 0px 15px -2px rgba(0,0,0,0.28);
  -moz-box-shadow: 1px 0px 15px -2px rgba(0,0,0,0.28);
  box-shadow: 1px 0px 15px -2px rgba(0,0,0,0.28);
  border-radius: 50%;
  background-image: url("/assets/images/icon-plus.jpg");
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
}
.anyadeproducto:hover{transform: scale(1.05);}
.anyadir{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px 0 10px 6px;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
}
.anyadir>span{
  width: 35% ;
  text-wrap: normal;
}
section{width: 100%;
justify-content: space-between;}
.producto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.formatos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.formato{
  display: flex;
  flex-direction: column;
  width: 60px;
  padding: 1px;
  text-align: center;

}
.formato>button{
//  width: 20px;
//  height: 20px;
//  background-image: url("/assets/images/plus.png");
//  background-size: cover;
  align-self: center;
  color: #c9b030;
//  margin: 3px;
//  -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.49);
//  -moz-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.49);
//  box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.49);
}
.formato>form{
  display: none;
  flex-direction: column;
  width: 60px;
  padding: 1px;
  text-align: center;
}
.formato>form>input{
  font-size: 10px;
  margin: 2px;
  max-height: 50px;
}
.formato>form>button{
  color: limegreen;
  align-self: center;
}
.form{
  display: none;
  width: 100%;
  margin-top: -90px;
  margin-bottom: 100px;
  -webkit-box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.28);
  box-shadow: 1px 0px 19px -1px rgba(0,0,0,0.28);
  z-index: 1;

}
.form>form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.form>form>div>h2{
  font-weight: bold;
  padding-top: 5px;
  align-self: center;
}
.form>form>.botonesform{display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  align-self: center;
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
  border: 0;
  padding: 9px;}
.form>form>div{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-self: center;
  border-bottom: solid black 1px;
  padding-bottom: 9px;
}
.form>form>div>button{
  padding: 5px;
  border: solid #dcd8d8 0.001px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
  width: 100px;
  background-color: #e1ca7b;
  color: white;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
}
.form>form>div>button:hover{-webkit-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29); background-color: #e5d298;}
.datosproducto{
  display: flex;
  flex-direction: column;

}
.datosproducto>button{
  padding: 5px;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  border: solid #dcd8d8 0.001px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
  width: 80px;
  background-color: #e1ca7b;
  color: white;
}
.datosproducto>button:hover{-webkit-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29); background-color: #e5d298;
}
.descartes{
  padding: 5px;
  border: solid #dcd8d8 0.001px;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  width: 30vh;
  font-weight: bold;
  text-decoration: none;
  background-color: #e1ca7b;
  color: white;
  text-align: center;
  align-self: center;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
}
.descartes:hover{-webkit-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29); background-color: #e5d298;}
