
.topbar {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.topbar a {
  color: white;
  text-decoration: none;
}

.topbar a:hover {
  color: #FCEEB5;
}

.topbar .user {
  margin-left: auto;
}

.topbar .user img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border: 2px solid fuchsia;
}


.register-button {
  background-color: transparent; /* Color de fondo */
  align-items: center;
  align-content: center;
  font-size: 1.1rem;
}

.login-button {
  background-color: transparent; /* Color de fondo */
  align-items: center;
  align-content: center;
  font-size: 1.1rem;
}

//.reglog {
//  margin-left: 40%;
//}


.toggle {
  display: none;
}


.user {
  display: flex;
  align-items: center;
  align-content: center;

}

.user button,
.user span {
  margin-right: 10px; /* Añadir margen a la derecha para separar los botones y el span */
}

.user img {
  margin-left: auto; /* Mover la imagen hacia el extremo derecho del contenedor */
}

