.btn_info{
  border-radius:20px;
  padding: 5px;
  background-color: #c4a971;
  color: black;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

.example-container{
  width:100%;
}

.posicion_btn{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;


  button:last-child{
    margin-left: 1rem;
  }

}
.big{
  margin: 2em 1em 0em 0em;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


/*form mat-form-field:last-child{
  margin-left: 1rem;
}*/

.gran_formulario{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
}
