.btn_info{
  border-radius:20px;
  padding: 5px;
  background-color: #c4a971;
  color: black;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

.formularios_turos{
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align:center;
}

.example-container{
  width:100%;
}
