<ion-header>
  <ion-toolbar>
    <ion-title>Crear turno</ion-title>
  </ion-toolbar>
</ion-header>

<div class="big">
  <form [formGroup]="turno_nuevo">
    <div class="gran_formulario">
        <mat-form-field class="formularios">
          <mat-label>Hora inicio</mat-label>
          <input matInput formControlName="horainicioForm" required>
        </mat-form-field>
        <mat-form-field class="formularios">
          <mat-label>Hora fin</mat-label>
          <input matInput formControlName="horafinForm" required>
        </mat-form-field>
    </div>

    <div class="dias_dispo">
      <mat-label>Elija los dias en los se habilitará el turno:</mat-label>
      <div class="dispo_dias">
          @for (dia of diasARepetirTurno; track dia ) {
              <mat-checkbox formControlName="diaForm" [value]="dia">{{ dia }}</mat-checkbox>
          }
      </div>
    </div>

  </form>
  <div class="posicion_btn">
    <button mat-raised-button mat-dialog-close color="primary" style="width: 160px !important" type="submit" (click)="nuevoTurno()">Crear turno</button>
    <button mat-raised-button mat-dialog-close color="primary" style="width: 140px !important">Cancelar</button>
  </div>
</div>


