<ion-header>
  <ion-toolbar>
    <ion-title>Visualizar turnos y mesa</ion-title>
  </ion-toolbar>
</ion-header>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step label="Elija la fecha" [stepControl]="fechaControl">
    <form (submit)="enviarFecha()">
      <mat-form-field class="formularios">
        <mat-label>Indique la fecha que quiere consultar</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" name="fecha" [formControl]="fechaControl" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
    <div class="posicion_btn">
      <button mat-raised-button matStepperNext color="primary" style="width: 160px !important" type="submit" (click)="enviarFecha()">Mandar fecha</button>
      <button mat-raised-button mat-dialog-close color="primary" style="width: 140px !important" >Cancelar</button>
    </div>
  </mat-step>

  <mat-step label="Turnos para el día" [stepControl]="turnoControl">
    <form (submit)="enviarTurno()">
      <mat-form-field class="formularios">
        <mat-label>Seleccione el turno deseado</mat-label>
        <input matInput [(ngModel)]="turno" name="turno" [formControl]="turnoControl" required>
      </mat-form-field>
    </form>
    <div class="posicion_btn">
      <button mat-raised-button matStepperNext color="primary" style="width: 140px !important" type="submit" (click)="enviarTurno()">Enviar turnos</button>
      <button mat-raised-button mat-dialog-close color="primary" style="width: 140px !important">Cancelar</button>
    </div>
  </mat-step>

  <mat-step label="Estas son las mesas que nos encontramos">
    <p>Hola</p>
    <div class="posicion_btn">
      <button mat-raised-button mat-dialog-close color="primary" style="width: 140px !important">Aceptar</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
