<ion-content class="home-content">
  <header><app-header> </app-header></header>

  <section class="main-section">
    <div class="center">
      <div class="card-container">
        <div class="card">
          <div class="additional">
            <div class="user-card">
              <img src="../../../assets/images/OIG4.jpg" alt="Restaurante">
            </div>
            <div class="more-info">
              <div class="botonentrar">
                <button class="enter-button" (click)="onEnterButtonClickRest(usuarioLogueado)">ENTRAR</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>RESTAURANTES</h1>
            <div class="subtitulo">
              <i class="fa-solid fa-utensils"></i>
            </div>
            <span class="more">Pase el ratón sobre la tarjeta para obtener más información.</span>
          </div>
        </div>

        <div class="card purple">
          <div class="additional">
            <div class="user-card">
              <img src="../../../assets/images/OIGon.jpg" alt="Ocio Nocturno">
            </div>
            <div class="more-info">
              <div class="botonentrar">
                <button class="enter-button" (click)="onEnterButtonClickOcioN(usuarioLogueado)">ENTRAR</button>
              </div>
            </div>
          </div>
          <div class="general">
            <h1>OCIO NOCTURNO</h1>
            <div class="subtitulo">
              <i class="fa-solid fa-martini-glass"></i>
            </div>
            <span class="more">Pase el ratón sobre la tarjeta para obtener más información.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="menulateral">
      <ion-content class="home-content">
        <div class="home-container">
          <app-menu-lateral [isLoggedIn]="isLoggedIn" [userRole]="userRole"></app-menu-lateral>
        </div>
      </ion-content>
    </div>
  </section>

  <footer><app-footer> </app-footer></footer>
</ion-content>
