<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Sobre nosotros</h2>
        <p>En Notium conectamos a las personas con las experiencias gastronómicas más deliciosas y los destinos de entretenimiento más emocionantes. Únete a nosotros en este viaje para saborear lo mejor de la vida y crear recuerdos inolvidables en cada rincón de tu ciudad.</p>
        <div class="contact">
          <br>
          <span><i class="fa fa-phone"></i> 900 111 222</span>
          <span><i class="fa fa-envelope contact__icon"></i> <a class="mail">info&#64;notium.com</a></span>


        </div>
<!--        <div class="socials">-->
<!--          <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--          <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--          <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--          <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--        </div>-->
      </div>

      <div class="footer-section links">
        <h2>Enlaces</h2>
        <ul>
          <li><a class="social" href="/notium">Home</a></li>
          <li><a href="/About">About</a></li>
          <li><a href="/Services">Services</a></li>
          <li><a href="/Contact">Contact</a></li>
        </ul>
      </div>

      <div class="footer-section contact-form">
        <h2>Contáctanos</h2>
        <form action="#" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Tu dirección de correo">
          <textarea name="message" class="text-input contact-input" placeholder="Tu mensaje"></textarea>
<!--          <button type="submit" class="btn btn-big contact-btn">-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            Enviar-->
          <ion-button (click)="sendEmail()" class="custom-button">
            Enviar <i class="fa fa-envelope icon-margin"></i>
          </ion-button>


          <!--          </button>-->
        </form>
      </div>
    </div>
  </div>
</footer>
