
<div class="container">
  <div class="table">
    <table mat-table [dataSource]="dataSourceProductos" class="mat-elevation-z8">
      <ng-container matColumnDef="tipoCategoria">
        <th mat-header-cell *matHeaderCellDef>Categoría</th>
        <td mat-cell *matCellDef="let productos">{{productos.tipoCategoria}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let productos">{{productos.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let productos">{{productos.precio}}</td>
      </ng-container>
      <ng-container matColumnDef="formato">
        <th mat-header-cell *matHeaderCellDef>Formato</th>
        <td mat-cell *matCellDef="let productos">{{productos.formatoDTO}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="buttons">
    <ion-content class="ion-padding">
      <ion-button id="open-modal" shape="round">Añadir producto</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancelar()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Registra tu Producto</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="agregar()" [strong]="true">Agregar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input
                label="Nombre"
                labelPlacement="stacked"
                type="text"
                [required]="true"
                [(ngModel)]="newProducto.nombre"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-select label="Categoria" [(ngModel)]="newProducto.tipoCategoria" [required]="true">
                <ion-select-option value="REFRESCO">REFRESCO</ion-select-option>
                <ion-select-option value="AGUA">AGUA</ion-select-option>
                <ion-select-option value="CERVEZA">CERVEZA</ion-select-option>
                <ion-select-option value="BEBIDA_ALCOHOLICA">BEBIDA ALCOHÓLICA</ion-select-option>
                <ion-select-option value="COCTEL">CÓCTEL</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input
                label="Precio"
                labelPlacement="stacked"
                type="text"
                [required]="true"
                [(ngModel)]="newProductoFormato.precio"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-select label="Formato" [(ngModel)]="newProductoFormato.formatoDTO!.id" [required]="true">
                <ion-select-option value="4">CHUPITO</ion-select-option>
                <ion-select-option value="5">COPA</ion-select-option>
                <ion-select-option value="10">BOTELLA</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
</div>


