<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Usuario</title>
  <link rel="stylesheet" href="perfil.component.scss">
</head>
<body>
<app-header></app-header>

<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>MI PERFIL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-list>
              <ion-item>
                <ion-label><strong>Username:</strong></ion-label>
                <ion-text>{{usuario.username}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Email:</strong></ion-label>
                <ion-text>{{usuario.email}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Nombre:</strong></ion-label>
                <ion-text>{{perfil?.nombre}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Apellidos:</strong></ion-label>
                <ion-text>{{perfil?.apellidos}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>DNI:</strong></ion-label>
                <ion-text>{{perfil?.dni}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Fecha Nacimiento:</strong></ion-label>
                <ion-text>{{perfil?.fechaNacimiento}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item>
                <ion-label><strong>Calle:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.calle}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Código Postal:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.codigoPostal}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Numero:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.numero}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.direccionDTO?.puerta">
                <ion-label><strong>Puerta:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.puerta}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Provincia:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.provincia}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Ciudad:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.ciudad}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>País:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.pais}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="botones">
        <ion-button id="boton_editar" expand="full" (click)="openEditProfileModal()">Editar Perfil</ion-button>
        <ion-button id="boton_eliminar" expand="full" (click)="eliminarCuenta()">Eliminar Cuenta</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</div>
</body>
</html>
