<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Usuario</title>
  <link rel="stylesheet" href="perfil.component.scss">
</head>
<body>
<app-header></app-header>

<div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>MI PERFIL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngIf="usuario.rol === 'ADMIN'">
            <ion-list>
              <ion-item *ngIf="usuario.username">
                <ion-label><strong>Username:</strong></ion-label>
                <ion-text>{{usuario.username}}</ion-text>
              </ion-item>
              <ion-item *ngIf="usuario.email">
                <ion-label><strong>Email:</strong></ion-label>
                <ion-text>{{usuario.email}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6" *ngIf="usuario.rol === 'CLIENTE' || usuario.rol === 'RESTAURANTE' || usuario.rol === 'OCIONOCTURNO'">
            <ion-list>
              <ion-item *ngIf="usuario.username">
                <ion-label><strong>Username:</strong></ion-label>
                <ion-text>{{usuario.username}}</ion-text>
              </ion-item>
              <ion-item *ngIf="usuario.email">
                <ion-label><strong>Email:</strong></ion-label>
                <ion-text>{{usuario.email}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.nombre">
                <ion-label *ngIf="usuario.rol === 'CLIENTE'"><strong>Nombre:</strong></ion-label>
                <ion-label *ngIf="usuario.rol === 'RESTAURANTE'"><strong>Nombre del restaurante:</strong></ion-label>
                <ion-label *ngIf="usuario.rol === 'OCIONOCTURNO'"><strong>Nombre del ocio nocturno:</strong></ion-label>
                <ion-text>{{perfil?.nombre}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.apellidos">
                <ion-label><strong>Apellidos:</strong></ion-label>
                <ion-text>{{perfil?.apellidos}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.dni">
                <ion-label><strong>DNI:</strong></ion-label>
                <ion-text>{{perfil?.dni}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.cif">
                <ion-label><strong>CIF:</strong></ion-label>
                <ion-text>{{perfil?.cif}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.telefono">
                <ion-label><strong>Teléfono:</strong></ion-label>
                <ion-text>{{perfil?.telefono}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.horaApertura && perfil?.horaCierre">
                <ion-label><strong>Horario:</strong></ion-label>
                <ion-text>{{perfil?.horaApertura}} - {{perfil?.horaCierre}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.hora_apertura && perfil?.hora_cierre">
                <ion-label><strong>Horario:</strong></ion-label>
                <ion-text>{{perfil?.hora_apertura}} - {{perfil?.hora_cierre}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.aforo">
                <ion-label><strong>Aforo:</strong></ion-label>
                <ion-text>{{perfil?.aforo}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.fechaNacimiento">
                <ion-label><strong>Fecha Nacimiento:</strong></ion-label>
                <ion-text>{{convertirFecha(perfil?.fechaNacimiento)}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6" *ngIf="perfil?.direccionDTO">
            <ion-list>
              <ion-item>
                <ion-label><strong>Calle:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.calle}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Código Postal:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.codigoPostal}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Numero:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.numero}}</ion-text>
              </ion-item>
              <ion-item *ngIf="perfil?.direccionDTO?.puerta">
                <ion-label><strong>Puerta:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.puerta}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Provincia:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.provincia}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Ciudad:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.ciudad}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>País:</strong></ion-label>
                <ion-text>{{perfil?.direccionDTO?.pais}}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="botones">
        <ion-button id="boton_editar" expand="full" (click)="openEditProfileModal()">Editar Perfil</ion-button>
        <ion-button color="danger" id="boton_eliminar" expand="full" (click)="eliminarCuenta()">Eliminar Cuenta</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</div>
</body>
</html>
