.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 30px;
}

ion-card-title {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

ion-card {
  margin-top: 20px;
}

ion-item {
  --inner-padding-end: 0;
}

ion-label {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  flex: 0.4 !important;
}

ion-text {
  flex: 1;
  text-align: center;
}

.botones{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
