body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 170px;
  margin-top: 170px;
}

h1{

  font-weight: bold;
  font-size: 35px;
  color: #521852;

}

.profile-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  text-align: left;
  gap: 40px;
}

.user-info p {
  margin: 10px 0;

  font-size: 19px;
}

.user-info span{

  justify-content: center;
  margin-left: 20px;

}

.user-info strong {
  color: #333;
}
