<div class="topbar">

  <div class="toggle">
    <i class="fa fa-bars  "></i>

  </div>
  <div class="search">
    <!--    <input class="search__input" type="text" placeholder="Search">-->

    <!--    <i class="fa fa-search search_icon" ></i>-->
    <div class="titulin">
      <img src="../../../assets/images/OIG4.jpg" alt="Logo">
      <div >
<!--        <h1><strong>OTIUMⁿ </strong></h1>-->

        <div class="fecha">
          <ion-datetime-button  datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <h2>Ocio a la enésima potencia.</h2>

      </div>

    </div>



  </div>
  <!--  <div class="reglog">-->
  <!--    <button class="register-button" (click)="onRegisterButtonClick()">Sign Up</button>-->
  <!--    <span> | </span>-->
  <!--    <button class="login-button" (click)="onLoginButtonClick()">Sign In</button>-->
  <!--  </div>-->





<!--<div class="tope-header">-->
<!--  <ng-container *ngIf="authService.isUserLoggedIn()">-->
<!--    <ion-buttons slot="end">-->
<!--      <ng-container *ngIf="isAdmin">-->
<!--        <ion-button (click)="openAdminPanel()">Panel de Admin</ion-button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="isClient">-->
<!--        <ion-button (click)="openClientPanel()">Panel de Cliente</ion-button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="isRestaurant">-->
<!--        <ion-button (click)="openRestaurantPanel()">Panel de Restaurante</ion-button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="isOcioNocturno">-->
<!--        <ion-button (click)="openOcioNocturnoPanel()">Panel de Ocio Nocturno</ion-button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="isRpp">-->
<!--        <ion-button (click)="openRppPanel()">Panel de RPP</ion-button>-->
<!--      </ng-container>-->
<!--      &lt;!&ndash; Agrega más botones para otros roles si es necesario &ndash;&gt;-->
<!--      <ion-button (click)="logout()">Logout</ion-button> &lt;!&ndash; Botón de Logout &ndash;&gt;-->
<!--    </ion-buttons>-->
<!--  </ng-container>-->
<!--</div>-->

  <div class="tope-header">
    <ng-container *ngIf="authService.isUserLoggedIn()">
      <span>Bienvenido, {{ username }}</span>
    </ng-container>
  </div>


<!--  <div class="user">-->
<!--    <button class="register-button" (click)="registro()">Regístrate</button>-->
<!--&lt;!&ndash;    <button class="register-button" (click)="onRegisterButtonClick()">Regístrate</button>&ndash;&gt;-->
<!--    <span> | </span>-->
<!--    <button class="login-button" (click)="login()">Login</button>-->
<!--&lt;!&ndash;    <button class="login-button" (click)="onLoginButtonClick()">Sign In</button>&ndash;&gt;-->
<!--    &lt;!&ndash;    <img src="../../../assets/images/notium.jpeg" alt="User">&ndash;&gt;-->
<!--  </div>-->
  <div class="user" style="display: flex; align-items: center;">
    <ng-container *ngIf="authService.isUserLoggedIn()">
      <button class="logout-button" style="padding: 8px 16px; margin-right: 8px;" (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ngIf="!authService.isUserLoggedIn()">
      <button class="register-button" style="padding: 8px 16px; margin-right: 8px;" (click)="registro()">Regístrate</button>
      <span> | </span>
      <button class="login-button" style="padding: 8px 16px;" (click)="login()">Login</button>
    </ng-container>
  </div>

</div>

