.topbar {
  background-color: #eeecf8;
  color: #171616;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar a {
  color: white;
  text-decoration: none;
}

.topbar a:hover {
  color: #FCEEB5;
}

.titulin {
  display: flex;
  align-items: center;
}

.titulin img {
  height: 50px;
  margin-right: 10px;
}

.fecha {
  font-size: 1.5rem;
  color: #521852;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.user button,
.user span {
  margin-right: 10px;
}

.logout-button, .register-button, .login-button {
  background-color: transparent;
  font-size: 1.1rem;
  color: #714983;
  padding: 8px 16px;
}

.logout-button:hover,
.register-button:hover,
.login-button:hover {
  color: #521852;
}

ion-menu-button {
  font-size: 24px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}
