<div class="topbar">

  <div class="toggle">
    <i class="fa fa-bars  "></i>

  </div>
  <div class="search">
    <!--    <input class="search__input" type="text" placeholder="Search">-->

    <!--    <i class="fa fa-search search_icon" ></i>-->
    <div class="titulin">
      <img src="../../../assets/images/OIG4.jpg" alt="Logo" href="/notium">
      <div >
<!--        <h1><strong>OTIUMⁿ </strong></h1>-->

        <div class="fecha">
          <ion-datetime-button  datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <h2>Ocio a la enésima potencia.</h2>

      </div>

    </div>



  </div>

  <div class="tope-header">
    <ng-container *ngIf="authService.isUserLoggedIn()">
      <span>Bienvenido, {{ username }}</span>
    </ng-container>
  </div>

  <div class="user" style="display: flex; align-items: center;">
    <ng-container *ngIf="authService.isUserLoggedIn()">
      <button class="logout-button" style="padding: 8px 16px; margin-right: 8px;" (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ngIf="!authService.isUserLoggedIn()">
      <button class="register-button" style="padding: 8px 16px; margin-right: 8px;" (click)="registro()">Regístrate</button>
      <span> | </span>
      <button class="login-button" style="padding: 8px 16px;" (click)="login()">Login</button>
    </ng-container>
  </div>

</div>

