<div class="topbar">

  <div class="toggle">
    <i class="fa fa-bars  "></i>

  </div>
  <div class="search">
    <!--    <input class="search__input" type="text" placeholder="Search">-->

    <!--    <i class="fa fa-search search_icon" ></i>-->
    <div class="titulin">
      <img src="../../../assets/images/OIG4.jpg" alt="Logo">
      <div >
        <h1><strong>OTIUMⁿ </strong></h1>
        <h2>Ocio a la enésima potencia.</h2>
      </div>

    </div>


  </div>
  <!--  <div class="reglog">-->
  <!--    <button class="register-button" (click)="onRegisterButtonClick()">Sign Up</button>-->
  <!--    <span> | </span>-->
  <!--    <button class="login-button" (click)="onLoginButtonClick()">Sign In</button>-->
  <!--  </div>-->
  <div class="user">
    <button class="register-button" (click)="onRegisterButtonClick()">Sign Up</button>
    <span> | </span>
    <button class="login-button" (click)="onLoginButtonClick()">Sign In</button>
    <!--    <img src="../../../assets/images/notium.jpeg" alt="User">-->
  </div>
</div>

