<body>
<app-header></app-header>

<div class="wrapper-rest">
  <div class="selector">
    <div class="continente" (mouseenter)="mostrarEuropa()" (mouseleave)="ocultarEuropa()">
      <button>Europeo</button>
      <div id="pais1">
        <button (click)="listarPorClase(4)">Español</button>
        <button (click)="listarPorClase(5)">Italiano</button>
        <button (click)="listarPorClase(6)">Francés</button>
        <button (click)="listarPorClase(7)">Alemán</button>
        <button (click)="listarPorClase(8)">Inglés</button>
      </div>
    </div>
    <div class="continente" (mouseenter)="mostrarAmerica()" (mouseleave)="ocultarAmerica()">
      <button>Americano</button>
      <div id="pais2">
        <button (click)="listarPorClase(9)">Mexicano</button>
        <button (click)="listarPorClase(10)">Chileno</button>
        <button (click)="listarPorClase(11)">Argentino</button>
      </div>
    </div>
    <div class="continente" (mouseenter)="mostrarAsia()" (mouseleave)="ocultarAsia()">
      <button>Asiático</button>
      <div id="pais3">
        <button (click)="listarPorClase(1)">Chino</button>
        <button (click)="listarPorClase(2)">Koreano</button>
        <button (click)="listarPorClase(3)">Japonés</button>
      </div>
    </div>

  </div>
  <div class="header">

    <h1>Listado Restaurantes</h1>
  </div>
<!--  <div class="restau-container">-->
<!--    <div *ngFor="let restaurante of listaRestaurantes" class="restau">-->
<!--      <a class="btn" href="notium/restaurante/{{restaurante.id}}">-->
<!--        <h1>{{restaurante.nombre}}</h1>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
</div>

<!-- New section with images and text -->


<div class="listado_videos">
  <div class="texto_videos">
    <h2><span>Todos los restaurantes</span></h2>
    <div class="videos">
      <div *ngFor="let restaurante of listaRestaurantes" class="video">
        <a class="card" href="/notium/restaurante/{{restaurante.id}}">
          <img src="{{restaurante.imagen_marca}}" alt="Imagen del restaurante">
          <div class="title">{{restaurante.nombre}}</div>
          <a href="#">
            <div class="catagory" routerLink="/notium/restaurante/">{{restaurante.direccionDTO.calle}} <i class="fas fa-map-marker-alt"></i></div>
          </a>
          <a href="#">
            <div class="views"><i class="fas fa-star"></i></div>
          </a>
        </a>
      </div>
    </div>
  </div>

  <div class="highlight-section">
    <div class="highlight">
      <img src="https://png.pngtree.com/png-clipart/20230825/original/pngtree-professional-chef-cartoon-character-cooking-illustration-with-different-trays-and-food-to-serve-delicious-food-made-in-kitchen-suitable-for-poster-picture-image_8647806.png" alt="Comida Tradicional">
      <div class="highlight-text">
        <h2>¿Que te apetece comer hoy?</h2>
        <p>Saborea los auténticos platos de la región en un ambiente acogedor.</p>
      </div>
    </div>
  </div>

  <div class="texto_videos">
    <h2><span>Los restaurantes con mejores valoraciones</span></h2>
    <div class="videos">
      <div *ngFor="let restauranteRanking of listaRestaurantesRanking" class="video">
        <a class="card" href="/notium/restaurante/{{restauranteRanking.id}}">
          <img src="{{restauranteRanking.imagen_marca}}" alt="Imagen del restaurante">
          <div class="title">{{restauranteRanking.nombre}}</div>
          <a href="#">
            <div class="catagory" routerLink="/notium/restaurante/">{{restauranteRanking.direccionDTO.calle}} <i class="fas fa-map-marker-alt"></i></div>
          </a>
          <a href="#">
            <div class="views"><i class="fas fa-star"></i></div>
          </a>
        </a>
      </div>
    </div>
  </div>


  <div class="highlight-section">
    <div class="highlight">
      <img src="https://images.vexels.com/media/users/3/190869/isolated/preview/68208da69d14a72dd02e4e413866ed6f-edificio-ilustracion-plana-restaurante.png" alt="Restaurante Elegante">
      <div class="highlight-text">
        <h2>Restaurante Elegante</h2>
        <p>Disfruta de una experiencia culinaria única en los restaurantes que mostramos en nuestra plataforma.</p>
      </div>
    </div>

  </div>

  <div class="texto_videos">
    <h2><span>Los restaurantes con más valoraciones</span></h2>
    <div class="videos">
      <div *ngFor="let restauranteValoraciones of listaRestauranteMasValoracion" class="video">
        <a class="card" href="/notium/restaurante/{{restauranteValoraciones.id}}">
          <img src="{{restauranteValoraciones.imagen_marca}}" alt="Imagen del restaurante">
          <div class="title">{{restauranteValoraciones.nombre}}</div>
          <a href="#">
            <div class="catagory" routerLink="/notium/restaurante/">{{restauranteValoraciones.direccionDTO.calle}} <i class="fas fa-map-marker-alt"></i></div>
          </a>
          <a href="#">
            <div class="views"><i class="fas fa-star"></i></div>
          </a>
        </a>
      </div>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
</body>
