<div class="container-admin">
  <div class="step">
    <button mat-raised-button color="primary" style="width: 200px !important" (click)="crearCartaRes()"><h2>Crea tu carta</h2></button>
    <button mat-raised-button color="primary" style="width: 140px !important" (click)="abrirModalCrearTurno()"><h2>Crear turno</h2></button>
    <button mat-raised-button color="primary" style="width: 140px !important" (click)="abrirModalCrearMesa()"><h2>Crear mesa</h2></button>
  </div>

  <div class="step-reserva">
    <h2>MIS RESERVAS</h2>
    <div class="form1">
      <form [formGroup]="fecha_reservas">
        <mat-form-field>
          <mat-label>Elije una fecha</mat-label>
          <input matInput formControlName="fechaForm" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" style="width: 200px !important" (click)="getReservas()"><h2>Visualizar turnos</h2></button>
    </div>

    <div class="turnosDisponibles" *ngIf="turnosOK == true">
      <table>
        <tr class="datos">
          <th>TURNOS
            @for (t of turnosDisponibles; track t) {
              <tr >
                {{ t.hora_inicio }}
                {{ t.hora_fin }}
              </tr>
            }
          </th>
          @for (m of mesasById; track m; let  i = $index) {
            <th>
              MESA {{ i + 1}}
              @for (r of reservasDisponibles; track r) {
                @if (m.id == r.mesaDTO?.id) {
                  <tr>
                    {{ r.codigoReserva }}
                  </tr>
                } @else {
                  <tr>-</tr>
                }
              }
              }
      </table>


    </div>
  </div>
</div>


