h1,
h2,
h3,
h4,
h5{margin:0}


.container-admin{
  display:flex;
  flex-direction: column;
}

.botoncarta{
  padding: 5px;
  border: solid #dcd8d8 0.001px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.29);
  margin: 10px;
  width: 30vh;
  font-weight: bold;
  text-decoration: none;
  background-color: #e1ca7b;
  color: white;
  text-align: center;
  align-self: center;
}
.botoncarta:hover{-webkit-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.29); background-color: #e5d298;}
.step{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid grey;
  width:100%;
}

.tamano_titulo{
  width:33%;
}

.posicion_btn{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_info{
  border-radius:20px;
  padding: 5px;
  background-color: #c4a971;
  color: black;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

.step-reserva{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .form1{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
  }

}

.reserva{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 2rem;
  border-bottom: 2px solid grey;
  width:100%;
}

.tabla_reserva{
  width: 80%;
  border: 1px solid black;
  justify-content: center;

  td, th{
    border: 1px solid black;
    text-align: center;
  }
}

.texto_val{
  display:flex;
  justify-content: center;
  aling-items: center;
}


.turnosDisponibles{
  display:flex;
  flex-direction:column;
  width:100%;
  padding-top:1rem;
  margin-top:1rem;
  align-items: center;

  table{
    width:90%;
    border-collapse: collapse;
    align-items:center;

    td, th {
      text-align: center;
      padding: 8px;
    }

  }

}

.tamayo{
  width:100%;
  align-items: center;
  justify-content:center;
  display:flex;
  flex-direction: column;

}

.bucleTurnos{
  display:flex;
  flex-direction: row;
  margin-top: 1rem;
  width:100%;
  align-items: center;
  justify-content: center;

}

.boton_turno{
  border: 1px solid black;
  padding: 1rem;
  text-decoration: none;
}

.reserva{
  display:flex;
  flex-direction: column;
  border-radius: 1rem;
  border: solid black;
}

.filas-sup{
  background-color: #91734f;
}

.reserva-encontrada{
  background-color: #cc3636;

}

.datos{
  border: 1px solid black;
}
