<ion-menu side="end" contentId="main-content" menuId="main-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>PANEL DE {{ userRole }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div *ngIf="!isLoggedIn">
      <p>Necesita iniciar sesión para acceder a su panel de administración.</p>
      <br>
      <ion-item button (click)="login()">
        <ion-label>
          <h3>Iniciar Sesión</h3>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="isLoggedIn">
      <div *ngIf="userRole === 'ADMIN'">
        <ion-item button (click)="visualizarPerfil()">
          <ion-label>MI PERFIL</ion-label>
        </ion-item>
        <ion-item button (click)="panelAdmin()">
          <ion-label>Administración de usuarios</ion-label>
        </ion-item>
      </div>
      <div *ngIf="userRole === 'CLIENTE'">
        <ion-item button (click)="visualizarPerfil()">
          <ion-label>MI PERFIL</ion-label>
        </ion-item>
        <ion-item button (click)="editarPerfil()">
          <ion-label>EDITAR MI PERFIL</ion-label>
        </ion-item>
        <ion-item button (click)="verTicketsReservas()">
          <ion-label>MIS TICKETS Y RESERVAS</ion-label>
        </ion-item>
      </div>
      <div *ngIf="userRole === 'RESTAURANTE'">
        <ion-item button (click)="visualizarPerfil()">
          <ion-label>MI PERFIL</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Mis Menús</ion-label>
        </ion-item>
      </div>
      <div *ngIf="userRole === 'OCIONOCTURNO'">
        <ion-item button (click)="visualizarPerfil()">
          <ion-label>MI PERFIL</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Mis Eventos</ion-label>
        </ion-item>
      </div>
      <div *ngIf="userRole === 'RPP'">
        <ion-item button (click)="visualizarPerfil()">
          <ion-label>MI PERFIL</ion-label>
        </ion-item>
        <ion-item button>
          <ion-label>Mis Listas</ion-label>
        </ion-item>
      </div>
      <ion-item button (click)="logout()">
        <ion-label>
          <h3>Cerrar Sesión</h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    Click en el icono de la esquina superior para desplegar el panel de administración.
  </ion-content>
</div>
