<!--<ion-menu contentId="main-content">-->
<!--  <ion-header>-->
<!--    <ion-toolbar>-->
<!--      <ion-title>Usuario</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--  <ion-content class="ion-padding">This is the menu content.</ion-content>-->
<!--</ion-menu>-->
<!--<div class="ion-page" id="main-content">-->
<!--  <ion-header>-->
<!--    <ion-toolbar>-->
<!--      <ion-buttons slot="start">-->
<!--        <ion-menu-button></ion-menu-button>-->
<!--      </ion-buttons>-->
<!--      <ion-title>Panel de admin</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--  <ion-content class="ion-padding"> Pulsa en la esquina superior para desplegar el panel de administración </ion-content>-->
<!--</div>-->


<!--<div class="menu-lateral">-->
<!--  <ion-menu contentId="main-content">-->
<!--    <ion-header>-->
<!--      <ion-toolbar>-->
<!--        <ion-title>Menu Content</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content class="ion-padding">-->
<!--      <div *ngIf="(isLoggedIn$ | async) === false">-->
<!--        <ion-item button (click)="login()">-->
<!--          <ion-label>-->
<!--            <h3>Iniciar Sesión</h3>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--      </div>-->
<!--      <div *ngIf="isLoggedIn$ | async">-->
<!--        <ion-item button (click)="logout()">-->
<!--          <ion-label>-->
<!--            <h3>Cerrar Sesión</h3>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>-->
<!--            <h3>{{ (userRole$ | async) }}</h3>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--      </div>-->
<!--    </ion-content>-->
<!--  </ion-menu>-->
<!--  <div class="ion-page" id="main-content">-->
<!--    <ion-header>-->
<!--      <ion-toolbar>-->
<!--        <ion-buttons slot="start">-->
<!--          <ion-menu-button></ion-menu-button>-->
<!--        </ion-buttons>-->
<!--        <ion-title>Menu</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content class="ion-padding">-->
<!--      Tap the button in the toolbar to open the menu.-->
<!--    </ion-content>-->
<!--  </div>-->
<!--</div>-->


<div class="menu-lateral">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Contenido del Panel</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="!isLoggedIn">

        <p>Necesita iniciar sesión para acceder a su panel de administración.</p>
        <br>

        <ion-item button (click)="login()">
          <ion-label>
            <h3>Iniciar Sesión</h3>
          </ion-label>

        </ion-item>
      </div>
      <div *ngIf="isLoggedIn">
        <ion-item button (click)="logout()">
          <ion-label>
            <h3>Cerrar Sesión</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>{{ userRole }}</h3>
          </ion-label>
        </ion-item>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Panel de Admin</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Click en el icono de la esquina superior para desplegar el panel de administración.
    </ion-content>
  </div>
</div>
