<ion-content>
  <div class="button-group">
    <ion-button *ngIf="rol === 'CLIENTE'" color="tertiary" id="cliente" (click)="elegirRol('CLIENTE')">CLIENTE</ion-button>
    <ion-button *ngIf="rol !== 'CLIENTE'" id="cliente1" (click)="elegirRol('CLIENTE')">CLIENTE</ion-button>
    <ion-button *ngIf="rol === 'RESTAURANTE'" color="tertiary" id="restaurante" (click)="elegirRol('RESTAURANTE')">RESTAURANTE</ion-button>
    <ion-button *ngIf="rol !== 'RESTAURANTE'" id="restaurante1" (click)="elegirRol('RESTAURANTE')">RESTAURANTE</ion-button>
    <ion-button *ngIf="rol === 'OCIO_NOCTURNO'" color="tertiary" id="ocio_nocturno" (click)="elegirRol('OCIO_NOCTURNO')">OCIO NOCTURNO</ion-button>
    <ion-button *ngIf="rol !== 'OCIO_NOCTURNO'" id="ocio_nocturno1" (click)="elegirRol('OCIO_NOCTURNO')">OCIO NOCTURNO</ion-button>
    <ion-button *ngIf="rol === 'RPP'" color="tertiary" id="rpp" (click)="elegirRol('RPP')">RPP</ion-button>
    <ion-button *ngIf="rol !== 'RPP'" id="rpp1" (click)="elegirRol('RPP')">RPP</ion-button>
  </div>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <table *ngIf="!isLoading">
    <thead>
    <tr *ngIf="rol === 'CLIENTE'">
      <th>Id ({{clientes.length}} clientes)</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha de Nacimiento</th>
      <th>Dni</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'RESTAURANTE'">
      <th>Id ({{restaurantes.length}} restaurantes)</th>
      <th>Nombre</th>
      <th>Hora de apertura</th>
      <th>Hora de cierre</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'OCIO_NOCTURNO'">
      <th>Id ({{ocios_nocturnos.length}} ocios nocturnos)</th>
      <th>Nombre</th>
      <th>Hora de apertura</th>
      <th>Hora de cierre</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'RPP'">
      <th>Id ({{rpps.length}} rpps)</th>
      <th>Nombre</th>
      <th>Fecha de Nacimiento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngIf="rol === 'CLIENTE'">
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellidos }}</td>
        <td>{{ convertirFecha(cliente.fechaNacimiento) }}</td>
        <td>{{ cliente.dni }}</td>
        <td style="display:flex;justify-content:space-around">
          <ion-button size="small">Editar</ion-button>
          <ion-button *ngIf="cliente.activo" size="small" color="danger" (click)="eliminarCuenta(cliente.userDTO)">Dar de baja</ion-button>
          <ion-button *ngIf="!cliente.activo" size="small" color="success" (click)="activarCuenta(cliente.userDTO)">Activar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'RESTAURANTE'">
      <tr *ngFor="let restaurante of restaurantes">
        <td>{{ restaurante.id }}</td>
        <td>{{ restaurante.nombre }}</td>
        <td>{{ restaurante.hora_apertura }}</td>
        <td>{{ restaurante.hora_cierre }}</td>
        <td style="display:flex;justify-content:space-around">
          <ion-button size="small">Editar</ion-button>
          <ion-button *ngIf="restaurante.activo" size="small" color="danger" (click)="eliminarCuenta(restaurante.userDTO)">Dar de baja</ion-button>
          <ion-button *ngIf="!restaurante.activo" size="small" color="success" (click)="activarCuenta(restaurante.userDTO)">Activar</ion-button>
          <ion-button *ngIf="!restaurante.verificado" size="small" color="success" (click)="verificar(restaurante)">Verificar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'OCIO_NOCTURNO'">
      <tr *ngFor="let ocio of ocios_nocturnos">
        <td>{{ ocio.id }}</td>
        <td>{{ ocio.nombre }}</td>
        <td>{{ ocio.horaApertura }}</td>
        <td>{{ ocio.horaCierre }}</td>
        <td style="display:flex;justify-content:space-around">
          <ion-button size="small">Editar</ion-button>
          <ion-button *ngIf="ocio.activo" size="small" color="danger" (click)="eliminarCuenta(ocio.userDTO)">Dar de baja</ion-button>
          <ion-button *ngIf="!ocio.activo" size="small" color="success" (click)="activarCuenta(ocio.userDTO)">Activar</ion-button>
          <ion-button *ngIf="!ocio.verificado" size="small" color="success" (click)="verificar(ocio)">Verificar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'RPP'">
      <tr *ngFor="let rpp of rpps">
        <td>{{ rpp.id }}</td>
        <td>{{ rpp.nombre }}</td>
        <td>{{ convertirFecha(rpp.fechaNacimiento) }}</td>
        <td style="display:flex;justify-content:space-around">
          <ion-button size="small">Editar</ion-button>
          <ion-button *ngIf="rpp.activo" size="small" color="danger" (click)="eliminarCuenta(rpp.userDTO)">Dar de baja</ion-button>
          <ion-button *ngIf="!rpp.activo" size="small" color="success" (click)="activarCuenta(rpp.userDTO)">Activar</ion-button>
          <ion-button *ngIf="!rpp.verificado" size="small" color="success" (click)="verificar(rpp)">Verificar</ion-button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ion-content>
