<ion-content>
  <div class="button-group">
    <ion-button id="cliente" (click)="elegirRol('CLIENTE')">CLIENTE</ion-button>
    <ion-button id="restaurante" (click)="elegirRol('RESTAURANTE')">RESTAURANTE</ion-button>
    <ion-button id="ocio_nocturno" (click)="elegirRol('OCIO_NOCTURNO')">OCIO NOCTURNO</ion-button>
    <ion-button id="rpp" (click)="elegirRol('RPP')">RPP</ion-button>
  </div>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <table *ngIf="!isLoading">
    <thead>
    <tr *ngIf="rol === 'CLIENTE'">
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Dni</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'RESTAURANTE'">
      <th>Id</th>
      <th>Nombre</th>
      <th>Hora de apertura</th>
      <th>Hora de cierre</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'OCIO_NOCTURNO'">
      <th>Id</th>
      <th>Nombre</th>
      <th>Hora de apertura</th>
      <th>Hora de cierre</th>
      <th>Acciones</th>
    </tr>
    <tr *ngIf="rol === 'RPP'">
      <th>Id</th>
      <th>Nombre</th>
      <th>Fecha de Nacimiento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngIf="rol === 'CLIENTE'">
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellidos }}</td>
        <td>{{ cliente.dni }}</td>
        <td>
          <ion-button size="small">Editar</ion-button>
          <ion-button size="small" color="danger" (click)="eliminarCuenta(cliente)">Eliminar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'RESTAURANTE'">
      <tr *ngFor="let restaurante of restaurantes">
        <td>{{ restaurante.id }}</td>
        <td>{{ restaurante.nombre }}</td>
        <td>{{ restaurante.hora_apertura }}</td>
        <td>{{ restaurante.hora_cierre }}</td>
        <td>
          <ion-button size="small">Editar</ion-button>
          <ion-button size="small" color="danger" (click)="eliminarCuenta(restaurante)">Eliminar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'OCIO_NOCTURNO'">
      <tr *ngFor="let ocio of ocios_nocturnos">
        <td>{{ ocio.id }}</td>
        <td>{{ ocio.nombre }}</td>
        <td>{{ ocio.horaApertura }}</td>
        <td>{{ ocio.horaCierre }}</td>
        <td>
          <ion-button size="small">Editar</ion-button>
          <ion-button size="small" color="danger" (click)="eliminarCuenta(ocio)">Eliminar</ion-button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="rol === 'RPP'">
      <tr *ngFor="let rpp of rpps">
        <td>{{ rpp.id }}</td>
        <td>{{ rpp.nombre }}</td>
        <td>{{ rpp.fechaNacimiento }}</td>
        <td>
          <ion-button size="small">Editar</ion-button>
          <ion-button size="small" color="danger" (click)="eliminarCuenta(rpp)">Eliminar</ion-button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ion-content>
