.button-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;

}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.id{

  text-align: center;

}

.botones{

  display:flex;
  justify-content: space-around;

}

ion-spinner{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 50%;
  top: 50%;
  width: 80px;
  height: 80px;

}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

td.action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

td.action-buttons ion-button {
  margin: 5px;
  flex: 1;
}
