@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #fcfbf9;
  font-family: Abel, Arial, Verdana, sans-serif;
}

app-home.ion-page {
  background-color: #fcfbf9 ! important; /* Cambia este color al color claro que desees */
}

.ion-page {
  background: #fcfbf9;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  //z-index: 2;
  background: #f7f5fd;;
  border-radius: 25px;
  //padding: 3rem;
  padding: 5000rem;
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#41361c, #efd591);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.purple .additional {
  background: linear-gradient(#521852, #714983);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #ffffff;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.user-card {
  display: flex;
  justify-content: center;
}
.card img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 25%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.card.green .additional .coords {
  color: #ffffff;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #ffffff;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  color: #fff;
  background: linear-gradient(#000000, #232323);
  font-size: 0.85em;
  text-align: center;
  //border: 2px solid fuchsia;
}



.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.botonentrar {
  //background: linear-gradient(#989898, #575656);
  //border: none;
  //color: white !important;
  //padding: 15px 32px;
  //text-align: center;
  //text-decoration: none;
  //display: flex;
  //align-content: center;
  //align-items: center;
  //justify-content: center;
  //margin: 4px 2px;
  //cursor: pointer;
  //border-radius: 12px;
  margin-left: 5.5rem;
  margin-right: 5rem;
  margin-top: 5.5rem;
  //font-size: 1.5rem;
  //background-color: #1a1a1a; /* Color de fondo */
  //border: none; /* Sin borde */
  //color: white; /* Color del texto */
  //padding: 15px 32px; /* Espacio alrededor del texto */
  //text-align: center; /* Alineación del texto */
  //text-decoration: none; /* Sin subrayado */
  //display: inline-block; /* Mostrar como bloque */
  //transition-duration: 0.4s; /* Duración de la transición */
  align-content: center;
  align-items: center;
  //border: 2px solid #1a1a1a; /* Borde sólido */
  //color: #1a1a1a; /* Color del texto */
  //padding: 12px 24px; /* Espacio alrededor del texto */
  //text-align: center; /* Alineación del texto */
  //text-decoration: none; /* Sin subrayado */
  //display: inline-block; /* Mostrar como bloque */
  //font-size: 1.5rem; /* Tamaño de fuente */
  //border-radius: 12px; /* Borde redondeado */
  //transition-duration: 0.4s; /* Duración de la transición */
  //cursor: pointer; /* Cursor al pasar sobre el botón */
  border: 2px solid #1a1a1a; /* Borde sólido */
  color: #ffffff; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  padding: 12px 24px; /* Espacio alrededor del texto */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque */
  font-size: 1.5rem; /* Tamaño de fuente */
  border-radius: 12px; /* Borde redondeado */
  transition-duration: 0.4s; /* Duración de la transición */
  cursor: pointer; /* Cursor al pasar sobre el botón */

}

.enter-button {
  //margin-left: 5rem;
  //margin-right: 5rem;
  //margin-top: 3.5rem;
  background-color: transparent; /* Color de fondo */
  align-items: center;
  align-content: center;
}

.botonentrar:hover {
  //background: linear-gradient(#575656, #989898);
  //background-color: #3a3a3a;
  background-color: #1a1a1a; /* Cambio de color de fondo al pasar el ratón */
  color: #ffffff; /* Cambio de color del texto al pasar el ratón */
}


h1 {
  margin-top: 2rem;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  //top: 15%;
  //margin-top: 600px;



}

.header {
  z-index:1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
}


.subtitulo {
  margin-top: 2rem;

  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}

//
//.general {
//  align-items: center;
//  align-content: center;
//}
