<body>
  <app-header></app-header>
  <div class="contenedor-restaurante">
    <div class="container48">
      <div class='banner-img' [style.background-image]="'url('+ restaurante?.imagen_marca +')'">
        <div class="info_valoraciones">
          <a (click)="listadoValoraciones()"><h2>{{numValoraciones}}</h2>
          <p-rating style="display: inline-block;" [(ngModel)]="valoracion_restaurante" [readonly]="true" [cancel]="false">
            <ng-template pTemplate="onicon">
              <mat-icon aria-hidden="false" fontIcon="star" style="color:#ffcd3c"></mat-icon>
            </ng-template>
          </p-rating>
          </a>
        </div>
      </div>
      <div class="info-concreta">
        <div *ngIf="userup; else vistaAdmin">
          <app-restaurante-user [direccion] = "direcion"></app-restaurante-user>
        </div>
       <ng-template #vistaAdmin>
         <app-restaurante-admin></app-restaurante-admin>
       </ng-template>
     </div>
   </div>
  </div>


  <app-footer></app-footer>


</body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
