<body>
  <app-headerrestaurante></app-headerrestaurante>
  <div class="contenedor-restaurante">
    <div class="container48">
      <div class='banner-img'>
        <div class="valoracion">
          <h3>Valoración media: {{valoracion_restaurante}}/5</h3>
          <div *ngIf="restauranteEnRanking==true"><h3 class="blinck">¡Este restaurante está en el top 3 de mejor valorados!</h3></div>
        </div>
      </div>
      <div class="info-concreta">
        <div *ngIf=" usuario_loggeado?.rol != 'ADMIN'; else vistaAdmin">
          <app-restaurante-user></app-restaurante-user>
        </div>
       <ng-template #vistaAdmin>
         <app-restaurante-admin></app-restaurante-admin>
       </ng-template>

     </div>
   </div>
  </div>


  <app-footerrestaurante></app-footerrestaurante>


</body>
