<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>

          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label class="labelspace">Username</ion-label>
                <ion-input type="text" [(ngModel)]="usuario.username" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Contraseña</ion-label>
                <ion-input id="contrasena" type="password" [(ngModel)]="usuario.password" required></ion-input>
              </ion-item>
            </ion-list>

            <div class="botones">
              <ion-button expand="block" (click)="login()">Login</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
