<body>
<app-header></app-header>
<div class="middle-content">
  <div class="container py-5 card-ev">
    <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="height: 100%">
      <img src="{{evento?.cartel}}" class="card-img-top" alt="...">
      <div class="card-body event">
        <h2 class="card-title"><b>Información</b></h2>
        <p class=" text">{{ evento?.nombre }}</p>
        <p class=" text">{{ evento?.descripcion }}</p>
        <p class=" text">Temática: {{ evento?.tematica }}</p>
        <h2 class="card-title"><b>Ubicación</b></h2>
        <p class=" text">{{ evento?.ocioNocturnoDTO?.nombre }}</p>
        <p class=" text">
          {{ evento?.ocioNocturnoDTO?.direccionDTO?.calle }},
          {{ evento?.ocioNocturnoDTO?.direccionDTO?.codigoPostal }},
          {{ evento?.ocioNocturnoDTO?.direccionDTO?.ciudad }},
          {{ evento?.ocioNocturnoDTO?.direccionDTO?.provincia }},
          {{ evento?.ocioNocturnoDTO?.direccionDTO?.pais }}
        </p>
        @if (permisosParaEditar) {
          <h2 class="card-title"><b>Datos</b></h2>
          <p class="text">
            Aforo Total: {{ evento?.aforo }}
          </p>
          <p class="text">
            Asistentes Totales Actualmente: {{ totalAsistentes }}
          </p>
        }
      </div>
    </div>

    <div class="ev-detail">
      <div class="info-detail">
        <h3><a style="display: flex;align-items: center !important;">
          <ion-icon name="calendar"></ion-icon>
          {{ fechaEvento }} /</a>
          <a class="mini-detail">
            <ion-icon name="watch"></ion-icon>
            {{ evento?.ocioNocturnoDTO?.horaApertura }}
            <ion-icon name="arrow-forward"></ion-icon>
            {{ evento?.ocioNocturnoDTO?.horaCierre }}
          </a>
        </h3>
        @if (permisosParaEditar) {
          <div>
            <button mat-raised-button color="primary" style="width: 180px !important; margin:10px"
                    (click)="openChat()">Chat del evento
            </button>
            <button mat-raised-button color="primary" style="width: 180px !important; margin:10px"
                    (click)="openModal(true)">Editar Evento
            </button>
            <button mat-raised-button color="warn" style="width: 180px !important; margin:10px"
                    (click)="alertDelete(true)">Eliminar Evento
            </button>
          </div>
        }
      </div>
      @if (crearEventoDTO) {
        <app-editar-evento
          [isModalOpen]="isModalEvento"
          [informacionEvento]="crearEventoDTO!"
          (eventoModificado)="modificar($event)"
        >
        </app-editar-evento>
      }
      <div>
        <h1 style="font-size: xx-large">{{ evento?.nombre }}</h1>
      </div>
      <div class="tags">
        <ion-badge color="secondary" slot="start">+{{ edadMinima }}</ion-badge>
        <ion-badge color="secondary" slot="start" class="second">
          <ion-icon name="shirt-outline"></ion-icon>
          {{ codigoVestimenta }}
        </ion-badge>
      </div>

      @if (evento?.fecha!.substring(0, 10) >= fechaActual) {
        @if (comprarEntradas) {
          <div class="entradas-generales" style="min-width: 1000px;max-width: 1000px">
            <div class="row card-row card-style">
              @if (permisosParaEditar) {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="width: 100%;">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">GENERAL {{ evento?.nombre }}</h1>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Entradas Totales A La Venta: {{ informacionTiposEntrada?.entradaOcioDTO?.totalEntradas }}
                          </h3>
                        </div>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Entradas Vendidas: {{ entradasVendidas }}
                          </h3>
                        </div>
                      </div>
                      <div class="info">
                        <button class="button is-large is-light"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.entradaOcioDTO?.precio }}€
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">{{ informacionTiposEntrada?.entradaOcioDTO?.detalleEntrada }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.entradaOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.entradaOcioDTO?.consumiciones }}
                        consumición/es.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              } @else {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="width: 100%;"
                     (click)="setOpenGeneral(true, true, false, false)">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">GENERAL {{ evento?.nombre }}</h1>
                        @if (disponiblesGeneral! <= 15) {
                          <div style="display: flex;color: red">
                            <h3 style="margin: 0 !important;display: flex;align-items: center !important;">
                              <ion-icon name="flame-outline"></ion-icon>
                              ¡Quedan menos de 15 entradas generales!
                            </h3>
                          </div>
                        }
                      </div>
                      <div class="info">
                        <button class="button is-large is-light"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.entradaOcioDTO?.precio }}€
                        </button>
                        <button class="button is-large is-link">
                          <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">{{ informacionTiposEntrada?.entradaOcioDTO?.detalleEntrada }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.entradaOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.entradaOcioDTO?.consumiciones }}
                        consumición/es.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              }


            </div>
          </div>
        } @else {
          @if (evento) {
            <p>Se han agotado las entradas generales para este evento.</p>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Entradas Totales A La Venta: {{ informacionTiposEntrada?.entradaOcioDTO?.totalEntradas }}
              </h3>
            </div>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Entradas Vendidas: {{ entradasVendidas }}
              </h3>
            </div>
          }
        }

        @if (comprarReservado) {
          <div class="reservados">
            <div class="row card-row card-style">
              @if (permisosParaEditar) {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="width: 100%;">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">RESERVADO {{ evento?.nombre }}</h1>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Reservados Totales A La
                            Venta: {{ informacionTiposEntrada?.reservadoOcioDTO?.reservadosDisponibles }}
                          </h3>
                        </div>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Reservados Vendidas: {{ reservadosVendidos }}
                          </h3>
                        </div>
                      </div>
                      <div class="info">
                        <button class="button is-large is-light bg-gray-300/30"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.reservadoOcioDTO?.precio }}€
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">{{ informacionTiposEntrada?.reservadoOcioDTO?.detalleReservado }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.reservadoOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.reservadoOcioDTO?.botellas }} botella/s.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              } @else {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 "
                     style="width: 100%;"
                     (click)="setOpenGeneral(true, false, true, false)">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">RESERVADO {{ evento?.nombre }}</h1>
                        @if (disponiblesReservado! <= 2) {
                          <div style="display: flex;color: red">
                            <h3 style="margin: 0 !important;display: flex;align-items: center !important;">
                              <ion-icon name="flame-outline"></ion-icon>
                              ¡Quedan menos de 2 reservados disponibles!
                            </h3>
                          </div>
                        }
                      </div>
                      <div class="info">
                        <button class="button is-large is-light bg-gray-300/30"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.reservadoOcioDTO?.precio }}€
                        </button>
                        <button class="button is-large is-link">
                          <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">{{ informacionTiposEntrada?.reservadoOcioDTO?.detalleReservado }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.reservadoOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.reservadoOcioDTO?.botellas }} botella/s.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>
        } @else {
          @if (evento) {
            <p>Se han agotado los reservados para este evento.</p>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Reservados Totales A La Venta: {{ informacionTiposEntrada?.reservadoOcioDTO?.reservadosDisponibles }}
              </h3>
            </div>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Reservados Vendidas: {{ reservadosVendidos }}
              </h3>
            </div>
          }
        }

        @if (comprarLista) {
          <div class="listas">
            <div class="row card-row card-style">
              @if (permisosParaEditar) {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="width: 100%;">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">LISTA {{ evento?.nombre }}</h1>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Entradas Totales A La Venta: {{ informacionTiposEntrada?.listaOcioDTO?.total_invitaciones }}
                          </h3>
                        </div>
                        <div style="display: flex">
                          <h3 style="margin: 0 !important;">
                            Entradas Vendidas: {{ clientesApuntadosALista }}
                          </h3>
                        </div>
                      </div>
                      <div class="info">
                        <button class="button is-large is-light bg-gray-300/30"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.listaOcioDTO?.precio }}€
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">LISTA
                        DE {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.nombre }} {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.apellidos }}</p>
                      <p class=" text">{{ informacionTiposEntrada?.listaOcioDTO?.detalleLista }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.listaOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.listaOcioDTO?.consumiciones }}
                        consumición/es.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              } @else {
                <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " style="width: 100%;"
                     (click)="setOpenGeneral(true, false, false, true)">
                  <div class="card-body event">
                    <div class="tarifa">
                      <div><h1 style="margin: 0;margin-right: 90px;">LISTA {{ evento?.nombre }}</h1>
                        @if (disponiblesLista! <= 5) {
                          <div style="display: flex;color: red">
                            <h3 style="margin: 0 !important;display: flex;align-items: center !important;">
                              <ion-icon name="flame-outline"></ion-icon>
                              ¡Quedan menos de 5 entradas por lista!
                            </h3>
                          </div>
                        }
                      </div>
                      <div class="info">
                        <button class="button is-large is-light bg-gray-300/30"
                                style="padding: .4rem !important;margin-right: .5rem !important;">
                          {{ informacionTiposEntrada?.listaOcioDTO?.precio }}€
                        </button>
                        <button class="button is-large is-link">
                          <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                      <p class=" text">LISTA
                        DE {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.nombre }} {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.apellidos }}</p>
                      <p class=" text">{{ informacionTiposEntrada?.listaOcioDTO?.detalleLista }}</p>
                      <p class=" text">Precio: {{ informacionTiposEntrada?.listaOcioDTO?.precio }}€</p>
                      <p class=" text">Incluye {{ informacionTiposEntrada?.listaOcioDTO?.consumiciones }}
                        consumición/es.</p>
                      <p class=" text">Incluye acceso al establecimiento.</p>
                      <p class=" text">Obligatorio mostrar el DNI y el código QR para acceder.</p>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>
        } @else {
          @if (evento) {
            <p>Se han agotado las entradas por lista para este evento.</p>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Entradas Totales A La Venta: {{ informacionTiposEntrada?.listaOcioDTO?.total_invitaciones }}
              </h3>
            </div>
            <div style="display: flex">
              <h3 style="margin: 0 !important;">
                Entradas Vendidas: {{ clientesApuntadosALista }}
              </h3>
            </div>
          }
        }

        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                @if (isGeneral) {
                  <ion-title>GENERAL {{ evento?.nombre }}</ion-title>
                } @else if (isReservado) {
                  <ion-title>RESERVADO {{ evento?.nombre }}</ion-title>
                } @else if (isLista) {
                  <ion-title>
                    LISTA {{ evento?.nombre }},
                    CREADA
                    POR: {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.nombre }} {{ informacionTiposEntrada?.listaOcioDTO?.rppDTO?.apellidos }}
                  </ion-title>
                }
                <ion-buttons slot="end">
                  <ion-button (click)="setOpenGeneral(false, false, false, false)" style="padding: 0 !important;">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="form-content ion-padding ">
              <div class="dispo">

                <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                      <ng-template matStepLabel style="width: 100%">
                        <div class="select-cantidad">
                          @if (isGeneral) {
                            <mat-form-field>
                              <mat-label>Seleccionar cantidad</mat-label>
                              <mat-select>
                                @for (d of disponibilidadGeneral; track d) {
                                  <mat-option [value]="d" (click)="actualizarCantidadGeneral(d)">{{ d }}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          } @else if (isLista) {
                            <mat-form-field>
                              <mat-label>Seleccionar cantidad</mat-label>
                              <mat-select>
                                @for (d of disponibilidadLista; track d) {
                                  <mat-option [value]="d" (click)="actualizarCantidadGeneral(d)">{{ d }}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          } @else if (isReservado) {
                            <mat-form-field>
                              <mat-label>Seleccionar número de personas</mat-label>
                              <mat-select>
                                @for (d of disponibilidadReservado; track d) {
                                  <mat-option [value]="d" (click)="actualizarPersonasReservado(d)">{{ d }}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                          }
                        </div>
                      </ng-template>
                    </form>
                  </mat-step>
                  @if (cantidad != 0) {
                    @for (c of datosARellenar; track c; let first = $first) {
                      <mat-step [stepControl]="datosCompradores">
                        <form [formGroup]="datosCompradores" style="width: 700px !important;">
                          <ng-template matStepLabel>Datos del asistente {{ c + 1 }}</ng-template>

                          <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" required>
                          </mat-form-field>

                          <mat-form-field>
                            <mat-label>Apellidos</mat-label>
                            <input matInput formControlName="apellidos" required>
                          </mat-form-field>

                          <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required type="email">
                            @if (datosCompradores.get('email')?.hasError('email')) {
                              <mat-error>Email incorrecto.</mat-error>
                            }
                          </mat-form-field>


                          <mat-form-field style="width: 213px">
                            <mat-label>Fecha Nacimiento</mat-label>
                            <input matInput placeholder="YYYY/MM/DD" formControlName="fecha" [matDatepicker]="picker">
                            @if (datosCompradores.get('fecha')?.hasError('futureDate')) {
                              <mat-error>La edad mínima es {{ edadMinima }} años.</mat-error>
                            }
                            <mat-datepicker-toggle matIconSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field>
                            <mat-label>Género</mat-label>
                            <mat-select formControlName="genero">
                              @for (g of generos; track g) {
                                <mat-option [value]="g">{{ g }}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>


                          <mat-form-field>
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="telefono" type="number">
                          </mat-form-field>

                          <div>
                            @if (datoYaEnviado(c)) {
                              <button [disabled]="true" mat-button matStepperNext>Añadir</button>
                              <button mat-button matStepperNext>Next</button>
                            } @else {
                              @if (verifyForm()) {
                                <button mat-button matStepperNext (click)="addForm(c)">Añadir</button>
                              } @else {
                                <button [disabled]="true" mat-button matStepperNext>Añadir</button>
                              }
                            }
                          </div>


                        </form>
                      </mat-step>
                    }
                    @if (verPromocion) {
                      <mat-step>
                        <ng-template matStepLabel>Promociones</ng-template>
                        <div class="promocion">
                          <mat-form-field>
                            <mat-label>Seleccionar Promoción</mat-label>
                            <mat-select>
                              @for (p of promocionesActivas; track p) {
                                <mat-option value="{{p.id}}" (click)="promocion(p!)">{{ p.tipoPromocion }}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Código</mat-label>
                            <input matInput [(ngModel)]="codigoPromocion">
                          </mat-form-field>
                          <button style="margin-bottom: 12px;" mat-button (click)="validarPromocion()">Validar</button>
                        </div>
                        <button mat-button matStepperNext (click)="pagarOpen()">Siguiente</button>

                      </mat-step>
                    }

                    @if (pagar) {
                      <mat-step>
                        <ng-template matStepLabel>Finalizar y pagar</ng-template>
                        <div>
                          <button mat-button (click)="comprar()">Pagar</button>
                        </div>
                      </mat-step>
                    }
                  }
                </mat-stepper>

                <div class="card" style="width: 18rem;height: 100%">
                  <div class="card-body">
                    <h1 class="card-title">RESUMEN COMPRA</h1>
                    <h3 class="resumen card-subtitle mb-2 text-body-secondary">
                      <div>
                        x{{ cantidad }} {{ evento?.nombre }}
                      </div>
                      @if (isGeneral) {
                        <div>
                          {{ informacionTiposEntrada?.entradaOcioDTO?.precio }}€
                        </div>
                      } @else if (isReservado) {
                        <div>
                          {{ informacionTiposEntrada?.reservadoOcioDTO?.precio }}€
                        </div>
                      } @else if (isLista) {
                        <div>
                          {{ informacionTiposEntrada?.listaOcioDTO?.precio }}€
                        </div>
                      }
                    </h3>
                    <h4 class="resumen card-subtitle mb-2 text-body-secondary">
                      <div>Subtotal</div>
                      <div>{{ subtotal }}€</div>
                    </h4>
                    <h4 class="resumen card-subtitle mb-2 text-body-secondary">
                      <div>Promociones</div>
                      <div>{{ promociones }}€</div>
                    </h4>
                    <hr>
                    <h1 class="resumen card-subtitle mb-2 text-body-secondary">
                      <div>TOTAL</div>
                      <div>{{ precioFinal }}€</div>
                    </h1>
                  </div>
                </div>

              </div>

            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-alert
          [isOpen]="isDeleteOpen"
          header="¿Estás seguro? Vas a eliminar el evento y toda su información permanentemente"
          [buttons]="deleteButtons"
        ></ion-alert>


      } @else {
        @if (evento) {
          <p class=" text">Este evento ya ha ocurrido.</p>
        }
      }
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
