<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reservas de Restaurantes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let reserva of reservas">
          <ion-label>
            <h2>{{ reserva.codigoReserva }}</h2>
            <p>Hora: {{ reserva.clienteDTO }}</p>
            <p>Fecha: {{ reserva.fecha }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entradas de Eventos de Ocios Nocturnos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let entrada of entradas">
          <ion-label>
            <h2>{{ entrada.eventoDTO }}</h2>
            <p>Fecha: {{ entrada.precio }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
