ion-card {
  margin-bottom: 20px;
}

ion-card-title {
  font-size: 1.4em;
  font-weight: bold;
}

ion-label h2 {
  font-size: 1.2em;
  font-weight: bold;
}

ion-label p {
  font-size: 1em;
  color: #666;
}
