
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step label="Comprobacion" [stepControl]="firstStepFormGroup">
    <form [formGroup]="firstStepFormGroup">
      <mat-form-field class="formularios">
        <mat-label >Indique su código de reserva</mat-label>
        <input matInput formControlName="codigoReservaForm" [(ngModel)]="codigoReserva" name="codigoReserva" id="codigoReserva" required>
      </mat-form-field>
    </form>

    <div>
      <button mat-button type="submit" (click)="validarCodigo()">Comprobar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
    </div>

  </mat-step>
  <mat-step label="Haz tu valoración" [stepControl]="secondStepFormGroup">
    <mat-dialog-content class="container-valoracion">
      <form [formGroup]="secondStepFormGroup">
        <mat-form-field class="formularios">
          <mat-label>Diganos como fue su experiencia</mat-label>
          <input matInput formControlName="textoForm" [(ngModel)]="texto" name="texto" id="texto" required>
        </mat-form-field>
      </form>
      <form [formGroup]="secondStepFormGroup">
        <mat-form-field class="formularios">
          <mat-label>Evalue de 0 a 5 su experiencia</mat-label>
          <input matInput formControlName="n_valoracionForm" [(ngModel)]="n_valoracion" name="n_valoracion" id="n_valoracion"required>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button matStepperNext type="submit" (click)="next()">Continuar</button>

    </div>

  </mat-step>
  <mat-step label="Fin">
    <mat-dialog-actions>
      <div class="colum">
        <span>Esta será su valoración: {{texto}}</span>
        <span>Y de 0 a 5 ha valorado al restaurante con: {{n_valoracion}}</span>
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button cdkFocusInitial (click)="mandarValoracion()" (click)="cerrarModal()">Ok</button>
        </div>
      </div>
    </mat-dialog-actions>
  </mat-step>

</mat-horizontal-stepper>
