.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner {
  height: 400px;
  width: 75%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

//.buttons ion-button {
//  margin-left: 150px;
//  --background: #2a032a;
//  --background-hover: #2a032a;
//  --background-activated: #2a032a;
//  --background-focused: #2a032a;
//
//  --color: white;
//
//  --border-radius: 1%;
//  --border-color: #000;
//  --border-style: solid;
//  --border-width: 1px;
//
//  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
//
//  --ripple-color: deeppink;
//
//  --padding-top: 10px;
//  --padding-bottom: 10px;
//}


.eventos, .staff, .listas{
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

ion-label, .staff ion-label{
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listas ion_label{
  max-width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.but{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.but div button{
  margin: 5px;
}
ion-modal{
  --width: 63%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 20px 0;
}

.mat-column-imagen img {
  display: block;
  margin: 0 auto;
}

//.carta {
//  display: flex;
//  justify-content: center;
//}

.carta  ion-button .icon{
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

