.main-container {
  display: flex;
  flex-direction: column;
  padding: 5% 15%;
  height: 100vh; /* Altura igual al 100% de la ventana del navegador */
  width: 100%;

}

.carta {
  width: 100%;
  height: auto;
  //background-color: #ddce79;
  //-webkit-box-shadow: inset 0px 24px 77px 0px rgba(255,255,255,1);
  //-moz-box-shadow: inset 0px 24px 77px 0px rgba(255,255,255,1);
  //box-shadow: inset 0px 24px 77px 0px rgba(255,255,255,1);
  /* Añade una barra de desplazamiento vertical si el contenido es más grande */
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.carta>div{
  background-color: white;


  margin-bottom: 15px;
  width: 100%;
}
.carta>section>div{
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;

  padding-bottom: 2px ;

}
.contain{
  margin: 0 0 10px 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

section{width: 100%;
  justify-content: space-between;}
.producto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.formatos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.formato{
  display: flex;
  flex-direction: column;
  width: 60px;
  padding: 1px;
  text-align: center;

}
h1{text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 30px}

//.precioactual{
//  width: 10vh;
//}
