<body>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="main-container">


    <div class="carta">
      <h1 *ngIf="entrante"><I><U>ENTRANTES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'ENTRANTE'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual"  *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="carne"><I><U>CARNES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'CARNE'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="pescado"><I><U>PESCADOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'PESCADO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="guiso"><I><U>GUISOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'GUISO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato"  *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="revuelto"><I><U>REVUELTOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'REVUELTO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="frito"><I><U>FRITOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'FRITO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato"  *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="otros"><I><U>OTROS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'OTROS'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 1">
                <span>Tapa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato"  *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 2">
                <span>Media</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato"  *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Ración</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="postre"><I><U>POSTRES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'POSTRE'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato"  *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 3">
                <span>Precio</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="vino"><I><U>VINOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'VINO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 5">
                <span>Copa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="cerveza"><I><U>CERVEZAS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'CERVEZA'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 7">
                <span>Vaso</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 8">
                <span>Pinta</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 6">
                <span>Jarra</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="refresco"><I><U>REFRESCOS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'REFRESCO'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 7">
                <span>Vaso</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="agua"><I><U>AGUA</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'AGUA'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 7">
                <span>Copa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="coctel"><I><U>COCTELES</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'COCTEL'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 5">
                <span>Copa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h1 *ngIf="bebidaAlcoholica"><I><U>BEBIDAS ALCOHÓLICAS</U></I></h1>
      <section *ngFor="let p of productos">
        <div class="producto" *ngIf="p.producto.tipoCategoria === 'BEBIDA_ALCOHOLICA'">
          <div><span>{{p.producto.nombre}}</span></div>
          <div class="formatos">
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 4">
                <span>Chupito</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
            <div class="formato" *ngFor="let pr of p.formatos">
              <div class="precioactual" *ngIf="pr.formatoDTO.id === 5">
                <span>Copa</span>
                <div>{{ pr.precio }} €</div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>


</body>
