/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap";
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

ion-content.home-content {
  --background: #f5f3fa;
}

ion-menu {
  --width: 300px; /* Ancho del menú */
  --background: #f5f3fa ! important; /* Color de fondo del menú */
  --color: #333; /* Color del texto del menú */
}

ion-toolbar {
  //--background: #f5f3fa; /* Color de fondo del toolbar del menú */
  --color: #333; /* Color del texto
}

ion-menu ion-toolbar {
  --background: #f5f3fa;; /* Color de fondo del toolbar del menú */
  --color: #333; /* Color del texto del toolbar del menú */
}

ion-content {
  //--background: #f5f3fa;; /* Color de fondo del contenido del menú */
  --color: #333; /* Color del texto del contenido del menú */
}

ion-menu ion-content {
  --background: #f5f3fa;; /* Color de fondo del contenido del menú */
  --color: #333; /* Color del texto del contenido del menú */
}

ion-buttons {
  --background: #f5f3fa; /* Color de fondo del botón */
  --color: #333; /* Color del texto del botón */
}

ion-menu-button {
  background: rgba(189, 171, 246, 0.44) !important; /* Color de fondo del botón */
  --color: #333 !important; /* Color del texto del botón */
}

ion-menu-button:hover {
  background: rgba(68, 11, 248, 0.44) !important; /* Color de fondo del botón al pasar el mouse */
  --color: #333 !important; /* Color del texto del botón */
}

ion-menu ion-list ion-menu-toggle ion-item {
  --background: #f5f3fa;
  --color: #333;
}



ion-item {
  //--background: #f5f3fa;
  --color: #333;
  text-align: center;
}


md button in-toolbar ion-activatable ion-focusable {
  --background: #f5f3fa; /* Color de fondo del botón */
  --color: #6b6a6a; /* Color del texto del botón */
}


.custom-toast {
  --background: #eecd4f !important; /* Cambia este valor al color que desees */
}
.cdk-overlay-container div div mat-dialog-container {
  margin: 20px !important;
}
.mdc-dialog{
  height: 900px !important
}

.button{

  padding: 0 !important;

}

