<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>

          <ion-header>
            <ion-toolbar>
              <ion-title>Editar Perfil</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal()">Cerrar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label class="labelspace">Username</ion-label>
                <ion-input type="text" [(ngModel)]="usuario.username" required></ion-input>
              </ion-item>
              <ion-item>

                <ion-label class="labelspace">Email</ion-label>
                <ion-input type="email" [(ngModel)]="usuario.email" required autocomplete></ion-input>
              </ion-item>
            </ion-list>

          </ion-card-content>

          <ion-card-content>

            <ion-list lines="full" *ngIf="usuario.rol === 'CLIENTE'">
              <ion-item>
                <ion-label class="labelspace">Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.nombre" required></ion-input>
              </ion-item>
              <ion-item>

                <ion-label class="labelspace">Apellidos</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.apellidos" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Dni</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.dni" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Telefono</ion-label>
                <ion-input type="tel" [(ngModel)]="perfil.telefono" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Fecha Nacimiento</ion-label>
                <ion-datetime
                  displayFormat="DD/MM/YYYY"
                  [(ngModel)]="perfil.fecha_nacimiento"
                  required
                  format-options="YYYY-MM-DD"
                  presentation="date">
                </ion-datetime>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Calle</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.calle" required></ion-input>

                <ion-label class="labelspace">Número</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.numero" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label *ngIf="perfil.direccionDTO.puerta" class="labelspace">Puerta</ion-label>
                <ion-input *ngIf="perfil.direccionDTO.puerta" type="text" [(ngModel)]="perfil.direccionDTO.puerta" required></ion-input>

                <ion-label class="labelspace">Código Postal</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.codigoPostal" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Ciudad</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.ciudad" required></ion-input>

                <ion-label class="labelspace">Provincia</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.provincia" required></ion-input>
              </ion-item>
            </ion-list>

            <ion-list *ngIf="usuario.rol === 'RESTAURANTE'">
              <ion-item>
                <ion-label class="labelspace">Nombre del restaurante</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.nombre" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Teléfono del restaurante</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.telefono" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">CIF del restaurante</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.cif" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Enlace del logo del restaurante</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.imagen_marca" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Aforo del restaurante</ion-label>
                <ion-input type="number" [(ngModel)]="perfil.aforo" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Hora de apertura del restaurante</ion-label>
                <ion-datetime
                  [(ngModel)]="perfil.hora_apertura"
                  required
                  presentation="time"
                  yearValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
                  minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label>Hora de cierre del restaurante</ion-label>
                <ion-datetime
                  [(ngModel)]="perfil.hora_cierre"
                  required
                  presentation="time"
                  yearValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
                  minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Calle</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.calle" required></ion-input>

                <ion-label class="labelspace">Número</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.numero" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Puerta</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.puerta" required></ion-input>

                <ion-label class="labelspace">Código Postal</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.codigoPostal" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Ciudad</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.ciudad" required></ion-input>

                <ion-label class="labelspace">Provincia</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.provincia" required></ion-input>
              </ion-item>
            </ion-list>

            <ion-list *ngIf="usuario.rol === 'OCIO_NOCTURNO'">
              <ion-item>
                <ion-label class="labelspace">Nombre del establecimiento nocturno</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.nombre" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Teléfono del establecimiento nocturno</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.telefono" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">CIF del establecimiento nocturno</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.cif" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Aforo del establecimiento nocturno</ion-label>
                <ion-input type="number" [(ngModel)]="perfil.aforo" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label class="labelspace">Enlace del logo del establecimiento nocturno</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.imagenMarca" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Hora de apertura</ion-label>
                <ion-datetime
                  [(ngModel)]="perfil.horaApertura"
                  required
                  presentation="time"
                  yearValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
                  minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label>Hora de cierre</ion-label>
                <ion-datetime
                  [(ngModel)]="perfil.horaCierre"
                  required
                  presentation="time"
                  yearValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24"
                  minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Calle</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.calle" required></ion-input>

                <ion-label class="labelspace">Número</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.numero" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Puerta</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.puerta" required></ion-input>

                <ion-label class="labelspace">Código Postal</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.codigoPostal" required></ion-input>
              </ion-item>

              <ion-item class="direccion">
                <ion-label class="labelspace">Ciudad</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.ciudad" required></ion-input>

                <ion-label class="labelspace">Provincia</ion-label>
                <ion-input type="text" [(ngModel)]="perfil.direccionDTO.provincia" required></ion-input>
              </ion-item>
            </ion-list>

            <div class="botones">
              <ion-button expand="block" (click)="editar()">Editar</ion-button>
            </div>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
