<body>
<app-headerocionocturno></app-headerocionocturno>
<div class="main-container">
  <ion-card (scroll)="onScroll($event)">
    <ion-card-header>
      <ion-card-title>Eventos Activos</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list  *ngFor="let x of items" >
          <ion-item class="event-charged" [routerLink]="['/notium/ocionocturno/evento/', x.id]">
            <ion-thumbnail slot="start">
              <img src="{{x.cartel}}"/>
            </ion-thumbnail>
            <ion-label>{{x.ocioNocturnoDTO?.nombre}}</ion-label>
            <ion-label>{{x.nombre}}</ion-label>
            <ion-label style="margin-right: 60px !important;">{{x.descripcion}}</ion-label>
            <ion-label>{{x.fecha | date: 'yyyy-MM-dd'}}</ion-label>
          </ion-item>
        </ion-list>
      <div *ngIf="finalPaginado"><p>Has llegado al final.</p></div>
    </ion-card-content>
  </ion-card>

  <ion-datetime class="calendar-event" presentation="date" locale="es-ES" [(ngModel)]="fechaSeleccionada" (ionChange)="fecha" (click)="getEventosEntreFechas(fechaSeleccionada!)"></ion-datetime>
</div>
<div *ngIf="noHayEventos" style="display: flex;justify-content: center;margin-top: 20px"><p>No hay eventos en la fecha seleccionada. </p></div>
<div class="middle-content">
  <div class="container py-5">
    <div class="row card-row">
      <div class="card detail  col-12 col-md-12 col-lg-3 my-3 " *ngFor="let x of eventosEntreFechas">
        <img src="{{x.cartel}}" class="card-img-top" alt="...">
        <div class="card-body event">
          <h5 class="card-title">{{x.ocioNocturnoDTO?.nombre}}</h5>
          <p class=" text">{{x.nombre}}</p>
          <a href="#" class="btn btn-primary" [routerLink]="['/notium/ocionocturno/evento/', x.id]">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footerocionocturno></app-footerocionocturno>
</body>
