<app-headerocionocturno></app-headerocionocturno>



<div class="main-container">
<!--  <div class="carrusel">-->
<!--    <h1>Establecimientos</h1>-->
<!--    <section class="slideshow"*ngFor="let o of ocios">-->

<!--      <div class="content" >-->
<!--        <div class="content-carrusel">-->
<!--          <figure class="shadow"><img src="{{o.imagenMarca}}" ></figure>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Establecimientos</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list  *ngFor="let o of ocios">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="logo_ocio_nocturno" src="{{o.imagenMarca}}" />
          </ion-thumbnail>
          <ion-label>{{o.nombre}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eventos Activos</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list  *ngFor="let x of eventosActivos">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{x.nombre}}</ion-label>
          <ion-label style="margin-right: 60px !important;">{{x.descripcion}}</ion-label>
          <ion-label>{{x.fecha | date: 'yyyy-MM-dd'}}</ion-label>
          <ion-label>Aforo: {{x.aforo}}</ion-label>
          <ion-label>Edad Mínima: {{x.edadMinimaOcio}}</ion-label>
          <ion-label>Código: {{x.codigoVestimentaOcio}}</ion-label>
          <ion-label>Temática: {{x.tematica}}</ion-label>
          <ion-label>Discoteca: {{x.ocioNocturnoDTO?.nombre}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
<ion-datetime presentation="date" locale="es-ES" [(ngModel)]="fechaSeleccionada" (ionChange)="fecha" (click)="getEventosEntreFechas(fechaSeleccionada!)"></ion-datetime>
<ion-card>
  <ion-card-content >
    <ion-list  *ngFor="let x of eventosEntreFechas">
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>{{x.nombre}}</ion-label>
        <ion-label style="margin-right: 60px !important;">{{x.descripcion}}</ion-label>
        <ion-label>{{x.fecha | date: 'yyyy-MM-dd'}}</ion-label>
        <ion-label>Aforo: {{x.aforo}}</ion-label>
        <ion-label>Edad Mínima: {{x.edadMinimaOcio}}</ion-label>
        <ion-label>Código: {{x.codigoVestimentaOcio}}</ion-label>
        <ion-label>Temática: {{x.tematica}}</ion-label>
        <ion-label>Discoteca: {{x.ocioNocturnoDTO?.nombre}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>


<app-footerocionocturno></app-footerocionocturno>
